In [1]:
import numpy as np
import pandas as pd

In [2]:
# read in data
df = pd.read_csv('data.csv')
print(df.keys())

Index(['U_p', 't', 'R_p', 'R_g', 'I_p', 'I_g'], dtype='object')

In [3]:
df

      U_p     t    R_p    R_g    I_p  I_g
0   16.05     0   26.5   26.1  151.8  2.5
1   16.15   105   27.4   27.1  153.2  3.8
2   16.31   454   31.3   29.6  154.7  5.0
3   16.31   845   35.5   38.2  154.7  6.0
4   16.79  1168   39.6   43.8  159.0  3.0
5   19.00  1464   43.8   43.0  181.0  3.0
6   19.05  1807   47.9   43.8  181.0  5.0
7   17.18  2277   52.0   50.8  162.8  5.0
8   17.26  2702   56.1   55.8  163.4  3.0
9   17.30  3150   60.2   59.0  163.7  4.4
10  17.33  3620   64.3   64.0  163.9  4.4
11  17.35  4035   68.3   68.6  164.1  4.0
12  17.36  4472   72.3   72.9  164.2  4.0
13  17.38  4910   76.3   76.3  164.3  3.8
14  17.38  5360   80.3   79.7  164.4  4.0
15  17.39  5817   84.2   84.1  164.5  4.4
16  17.39  6280   88.2   89.5  164.6  3.8
17  17.40  6705   92.1   92.1  164.7  3.8
18  17.40  7200   96.1   96.1  164.8  4.0
19  17.40  7660  100.0  100.3  164.8  4.0
20  17.39  8130  103.9  103.0  164.8  3.8
21  17.39  8630  107.8  107.4  164.9  3.8
22  17.39  9130  111.7  111.5  164.9  3.8
23  17.38  9590  115.5  115.9  165.0  3.8